<httml lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Express JS</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <%- include('blocks/header') -%>
        <h1>User Landing page</h1>
        <p>Пользователь <%= username %></p>
        
            <%  if(username.toLowerCase() =='john') { %>
            <ul>
                <% hobbies.forEach(e=>{ %>
                    <li><%= e %></li>


                <% }) %>
            </ul>
            <% } %>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi cumque reiciendis harum deserunt voluptatum nemo ad soluta odit? At, 
        necessitatibus sit quibusdam magni placeat officia 
        dolorem laboriosam ducimus fuga atque?</p>
    </body>
</html>